<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Faça um cadastro para poder jogar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-action="modal#fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
              <%= f.label :nome_usuario %><br />
              <%= f.text_field :nome_usuario, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, class: "form-control" %>
            </div>

          <div class="actions">
            <%= f.submit "Criar conta", class: "btn btn-primary mt-2" %>
          </div>
        <% end %>        
      </div>
    </div>
  </div>
</div>