<%= form_with(url: finalizar_tentativa_url, method: :post) do |tentativa_form| %>
	<%@questoes.shuffle.each do |questao| %>
		<div class="card mb-2">
			<%= tentativa_form.fields_for(questao, index: questao.id) do |questao_form|%>
				<h3> <%=questao.enunciado%> </h3>
				<% questao.alternativas.shuffle.each do |alternativa|%>
					<div class="form-check">
						<%= radio_button_tag("tentativa[#{questao.id}]", alternativa.id, false, class: "form-check-input") %>
						<%= label(:alternativa, alternativa.descricao, class: "form-check-label")%>
					</div>
				<%end%>
			<%end%>
		</div>
	<%end%>

	<%= tentativa_form.button "finalizar", class: "btn btn-primary mt-2" %>
<%end%>