<!DOCTYPE html>
<html>
  <head>
    <title>Apollo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "application", "data-track-turbo": "true", defer: true %>
  </head>

  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">E-lixo</i></a> 
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>           
          </div>
          <div class="row">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">      
                <div class="dropdown">
                  <%if current_user %>  
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Opções
                    </button>
                    <ul class="dropdown-menu">
                    <%= link_to "Admin", "/admin" , class: "dropdown-item"%>
                    <%= link_to "Sair", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
                    </ul>
                  </div>
                  <%end%>
              </div>
            </div>
          </div>
        </nav>
    </div>

    <div class="container">
      <%= yield %>
    <div>
  </body>
</html>
